<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numeroquartos %><br>
    <%= f.number_field :numeroquartos %>
  </div>
  <div class="field">
    <%= f.label :numeropessoas %><br>
    <%= f.number_field :numeropessoas %>
  </div>
  <div class="field">
    <%= f.label :compradorname %><br>
    <%= f.text_field :compradorname %>
  </div>
  <div class="field">
    <%= f.label :creditonumber %><br>
    <%= f.text_field :creditonumber %>
  </div>
  <div class="field">
    <%= f.label :creditocod %><br>
    <%= f.text_field :creditocod %>
  </div>
  <div class="field">
    <%= f.label :creditovalidade %><br>
    <%= f.date_select :creditovalidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
