<p id="notice"><%= notice %></p>

<p>
  <strong>Número de Quartos:</strong>
  <%= @order.numeroquartos %>
</p>

<p>
  <strong>Número de Pessoas:</strong>
  <%= @order.numeropessoas %>
</p>

<p>
  <strong>Nome do Comprador:</strong>
  <%= @order.compradorname %>
</p>

<p>
  <strong>Número Cartão de Crédito:</strong>
  <%= @order.creditonumber %>
</p>

<p>
  <strong>Cód Segurança:</strong>
  <%= @order.creditocod %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @order.creditovalidade %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @order.valor %>
</p>

<p>
  <strong>Parcelas:</strong>
  <%= @order.parcelas %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
