<%= form_for(@voo) do |f| %>
  <% if @voo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voo.errors.count, "error") %> prohibited this voo from being saved:</h2>

      <ul>
      <% @voo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Somente Ida" %><br>
    <%= f.check_box :tipo %>
  </div>
  <div class="field">
    <%= f.label :origem %><br>
    <%= f.text_field :origem %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :dataida %><br>
    <%= f.date_select :dataida,{},{:id=> "dataida"} %>
  </div>
  <div class="field" id="ida_volta" style="display:block;">
    <%= f.label :datavolta %><br>
    <%= f.date_select :datavolta,{},{:id=>"datavolta"} %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var checkbox = document.getElementById('voo_tipo');
  var details_div = document.getElementById('ida_volta');
  //var datavolta_data = document.getElementById('datavolta');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'none';
       //sem data de volta
       //datavolta_data.disabled=true;
     } else {
       details_div.style['display'] = 'block';
       //datavolta_data.disabled=false;
     }
  };
</script>
