<h1>Voos</h1>

<% if @voos.present? %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tipo</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Dataida</th>
      <th>Datavolta</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voos.each do |voo| %>
      <tr>
        <td><%= voo.name %></td>
        <td><%= voo.tipo %></td>
        <td><%= voo.origem %></td>
        <td><%= voo.destino %></td>
        <td><%= voo.dataida %></td>
        <td><%= voo.datavolta %></td>
        <td><%= voo.price %></td>
        <td><%= link_to 'Show', voo %></td>
        <td><%= link_to 'Edit', edit_voo_path(voo) %></td>
        <td><%= link_to 'Destroy', voo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Comprar', (new_order_path :valor => voo.price ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <p>Não foram encontrados Voos na busca <%= params[:query] %>.</p>
<% end %>

<form>
  <%= form_tag(voos_path, :method => "get", id: "search-form") do %>
  <h2> Busca de Voos</h2>
  <%= text_field_tag :fromcidade, params[:fromcidade], placeholder: "Origem" %>
  <%= text_field_tag :tocidade, params[:tocidade], placeholder: "Destino" %>
  <%= text_field_tag :fromdate, params[:fromdate], placeholder: "Data de Ida" %>
  <%= text_field_tag :todate, params[:todate], placeholder: "Data de Volta" %>
  <%= submit_tag "Buscar Voo" %>
  <% end %>
</form>
<br>
<%= link_to 'Cotar Voo', new_voo_path %>
