<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voo.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @voo.tipo %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @voo.origem %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @voo.destino %>
</p>

<p>
  <strong>Dataida:</strong>
  <%= @voo.dataida %>
</p>

<p>
  <strong>Datavolta:</strong>
  <%= @voo.datavolta %>
</p>

<p>
  <strong>Price:</strong>
  <%= @voo.price %>
</p>

<%= link_to 'Edit', edit_voo_path(@voo) %> |
<%= link_to 'Back', voos_path %>
