<%= form_for(@hotel) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :numeroquartos %><br>
    <%= f.number_field :numeroquartos %>
  </div>
  <div class="field">
    <%= f.label :numeropessoas %><br>
    <%= f.number_field :numeropessoas %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :dataentrada %><br>
    <%= f.date_select :dataentrada %>
  </div>
  <div class="field">
    <%= f.label :datasaida %><br>
    <%= f.date_select :datasaida %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
