<%= form_for(@pacote) do |f| %>
  <% if @pacote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacote.errors.count, "error") %> prohibited this pacote from being saved:</h2>

      <ul>
      <% @pacote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :origem %><br>
    <%= f.text_field :origem %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :dataida %><br>
    <%= f.date_select :dataida , {}, {:id=>"dataida"} %>
  </div>
  <div class="field">
    <%= f.label :datavolta %><br>
    <%= f.date_select :datavolta, {}, {:id=>"datavolta"} %> <!--, :onchange => "SetPrice();"} %>-->
  </div>

  <script type="text/javascript">
  //$(function(){
    //$('#btnSubmit').click(function(){
      //$('#datavolta').onchange(function(){
function SetPrice(){
    var volta = $('#datavolta').val() || [];
    alert("data volta : "+ volta;

    var data_ida = Date.parse(($('#dataida').val()));    
    var data_volta = Date.parse(($('#datavolta').val()));    
    alert("data volta : "+ data_volta + " data ida:" + data_volta);
    //alert("data: "+ (data_volta - data_volta));
    $('#price').val("123210");
    //$('#price').text("123210");
  }
//});
  
  </script>

  <div class="field">
    <%= f.label :price %><br>
      <!--<%= f.text_field :price, {:id=>"price"} %> 
  <span id="price" name="price" ></span>-->

  </div> 
  <div class="actions">
    <%= f.submit :id=> "btnSubmit" %>
  </div>
<% end %>
