<h1>Pacotes</h1>

<% if @pacotes.present? %>
 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Ida</th>
      <th>Volta</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacotes.each do |pacote| %>
      <tr>
        <td><%= pacote.name %></td>
        <td><%= pacote.description %></td>
        <td><%= pacote.origem %></td>
        <td><%= pacote.destino %></td>
        <td><%= pacote.dataida %></td>
        <td><%= pacote.datavolta %></td>
        <td><%= pacote.price %></td>
        <td><%= link_to 'Show', pacote %></td>
        <td><%= link_to 'Edit', edit_pacote_path(pacote) %></td>
        <td><%= link_to 'Destroy', pacote, method: :delete, data: { confirm: 'Confirmar Exclusão?' } %></td>
        <td><%= link_to 'Comprar', (new_order_path :valor => pacote.price ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <p>Não foram encontrados pacotes na busca <%= params[:query] %>.</p>
<% end %>

<form>
  <%= form_tag(pacotes_path, :method => "get", id: "search-form") do %>
  <h2> Busca de Pacotes</h2>
  <%= text_field_tag :query, params[:query], placeholder: "Descrição" %>
  <%= text_field_tag :fromdate, params[:fromdate], placeholder: "Data de Ida" %>
  <%= text_field_tag :todate, params[:todate], placeholder: "Data de Volta" %>
  <%= submit_tag "Buscar Pacotes" %>
  <% end %>
</form>
<br>
<%= link_to 'Cotar Pacote', new_pacote_path %>


